.custom-scrollbar::-webkit-scrollbar {
	height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: transparent !important;
	height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(170, 170, 170);
	border-radius: 100px;
}

.cropped-image {
	width: 84px;
	height: 87px;
	opacity: 0.85;
}

.none-image {
	object-fit: none;
}

.position-70-15 {
	object-position: 50% 33%;
}
